
android.build-tools = /usr/local/share/android-sdk/build-tools/25.0.2/
android.platform-tools = /usr/local/share/android-sdk/platform-tools/

temp.path = /Users/pat/Code/teak-air-cleanroom/build/_apktemp
temp.apk = /Users/pat/Code/teak-air-cleanroom/build/_temp.apk

input.apk = /Users/pat/Code/teak-air-cleanroom/build/teak-air-cleanroom.apk
output.apk = /Users/pat/Code/teak-air-cleanroom/teak-air-cleanroom.apk

teak.app_id = 1136371193060244
teak.api_key = 1f3850f794b9093864a0778009744d03
teak.gcm_sender_id = 944348058057

debug.storetype = pkcs12
debug.keystore = /Users/pat/Code/teak-air-cleanroom/keys/sample-android.p12
debug.keypass = 123456
debug.alias = alias_name

release.storetype = pkcs12
release.keystore = /Users/pat/Code/teak-air-cleanroom/keys/sample-android.p12
release.keypass = 123456
release.alias = alias_name
